body{

background:linear-gradient(135deg,#e0f2fe,#fce7f3);

font-family:Poppins;

margin:0;

color:#374151;

}

.container{

width:1000px;

margin:auto;

padding:40px;

}

h1{

text-align:center;

margin-bottom:40px;

color:#1f2937;

}

.card{

background:white;

padding:30px;

border-radius:15px;

margin-top:30px;

box-shadow:0 10px 25px rgba(0,0,0,0.05);

border:2px solid #fbcfe8;

}

h2{

color:#ec4899;

}

img{

width:100%;

margin-top:15px;

border-radius:10px;

border:3px solid #dbeafe;

}

pre{

background:#f9fafb;

padding:20px;

border-radius:10px;

border-left:6px solid #93c5fd;

overflow:auto;

}